@import "vars";
@import "libs";
@import "fonts";
@import "media";
@import "extends";
@import "mixins";

*,
::after,
::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

//////////////////
//////////////////
//////////////////
//////////////////
body {
  color: $black;
  font-family: $RLight, sans-serif;
  font-size: 18px;
  line-height: 21px;
}

.scroll-hidden {
  overflow: hidden;
}

.container {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
}

.title {
  font-family: $balqis, sans-serif;
  color: $yellow;
  font-size: 96px;
  line-height: 128px;
  margin-left: 30px;
  @media screen and(max-width:480px) {
    font-size: 76px;
    margin-left: 0;
  }
  @media screen and(max-width:350px) {
    text-align: center;
  }
}

.subtitle {
  font-family: $RLightItalic;
  font-size: 24px;
  line-height: 28px;
  color: $black;

  margin-left: 180px;
  @media screen and(max-width:480px) {
    font-size: 20px;
    margin-left: 130px;
  }
  @media screen and(max-width:350px) {
    margin-left: 100px;
  }
}

.btn-prev,
.btn-next {
  position: absolute;
  top: calc(50% - 35px);
  width: 37px;
  height: 70px;
  background: inherit;
  border: none;
  outline: none;
  cursor: pointer;
  z-index: 10;
  @media screen and (max-width: 815px) {
    svg {
      height: 40px;
    }
  }
}

.btn-prev {
  left: 15px;
}

.btn-next {
  right: 15px;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 280px;
  height: 50px;
  background: $white;
  border: 1px solid $yellow;
  font-family: $RLight;
  text-transform: uppercase;
  font-size: 24px;
  line-height: 28px;
  cursor: pointer;
  &:hover {
    background: $yellow;
    color: $white;
    transition: 0.7s all ease;
    outline: none;
  }
  @media screen and(max-width:678px) {
    width: 210px;
    height: 45px;
    font-size: 20px;
  }
}

//header

.header {
  position: relative;
  height: 100vh;
  background-image: url("../img/header-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
  &__top {
    display: flex;
    justify-content: space-between;
    padding-top: 70px;
    @media screen and(max-width:1200px) {
      justify-content: space-around;
    }
    @media screen and(max-width:768px) {
      flex-direction: row-reverse;
      justify-content: space-between;
    }
    @media screen and(max-width:530px) {
      padding-top: 30px;
    }
  }

  &__burger {
    display: none;
    position: relative;
    width: 35px;
    height: 35px;
    z-index: 10;

    @media screen and(max-width:768px) {
      display: block;
    }
    @media screen and(max-width:500px) {
      width: 30px;
      height: 30px;
    }
    &:before {
      content: "";
      position: absolute;
      width: 100%;
      height: 5px;
      top: 0;
      left: 0;
      background: $black;
    }

    &:after {
      content: "";
      position: absolute;
      width: 100%;
      height: 5px;
      top: 15px;
      left: 0;
      background: $black;
      @media screen and(max-width:500px) {
        top: 13px;
      }
    }
    span {
      position: absolute;
      width: 100%;
      height: 5px;
      bottom: 0;
      left: 0;
      background: $black;
    }
    &--active {
      &:before {
        top: 13px;

        transform: rotate(-45deg);
      }
      &:after {
        top: 13px;
        transform: rotate(45deg);
      }
      span {
        display: none;
      }
    }
  }

  &__list {
    display: flex;
    z-index: 9;
    :not(:first-child) {
      margin-left: 52px;
      @media screen and(max-width:768px) {
        margin: 0;
      }
    }
    @media screen and(max-width:768px) {
      display: none;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      position: absolute;
      background: $white;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
    }
    &-item {
      font-family: $RRegular, sans-serif;
      position: relative;
      font-size: 24px;
      @media screen and(max-width:768px) {
        padding-top: 50px;
      }
      &:hover {
        &:after {
          opacity: 1;
          transition: 0.7s all ease;
        }
      }

      &:after {
        content: "";
        position: absolute;
        display: block;
        width: 100%;
        height: 2px;
        background: $black;
        bottom: 0;
        left: 0;
        opacity: 0;
      }
    }
    &-link {
      color: $black;
    }
    &--active {
      display: flex;
    }
  }
  &__number {
    display: flex;
    align-items: center;
  }
  &__link {
    margin-left: 10px;
    font-family: $RRegular;
    color: $black;
    font-size: 24px;
    @media screen and(max-width:500px) {
      font-size: 18px;
    }
  }
  &__content {
    padding-top: 150px;
    @media screen and(max-width:450px) {
      padding-top: 200px;
    }
    &-wrapper {
      display: flex;
      justify-content: center;
      flex-direction: column;
      max-width: 1075px;
      @media screen and(max-width:1200px) {
        max-width: 800px;
        margin: 0 auto;
      }
    }
  }
  &__title {
    font-family: $balqis;
    font-size: 250px;
    line-height: 200px;
    text-align: center;
    @media screen and(max-width:1200px) {
      font-size: 150px;
      line-height: 150px;
    }
    @media screen and(max-width:650px) {
      font-size: 100px;
      line-height: 70px;
    }
    @media screen and(max-width:450px) {
      font-size: 70px;
      line-height: 70px;
    }
  }
  &__subtitle {
    font-family: $RLightItalic;
    max-width: 430px;
    align-self: flex-end;
    font-size: 56px;
    line-height: 66px;
    @media screen and(max-width:1200px) {
      font-size: 36px;
    }
    @media screen and(max-width:650px) {
      font-size: 26px;
      line-height: 36px;
    }
    @media screen and(max-width:450px) {
      font-size: 20px;
    }
  }
}

//fairy-tail

.fairy-tail {
  padding-top: 150px;
  @media screen and (max-width: 815px) {
    padding-top: 70px;
  }

  &__title {
    max-width: 330px;
  }
  &__subtitle {
    max-width: 233px;
  }
  &__content {
    display: flex;
    margin-top: 100px;
    padding-right: 20px;
    @media screen and (max-width: 815px) {
      flex-direction: column;
      padding-right: 0;
    }
    @media screen and (max-width: 450px) {
      margin-top: 30px;
    }
  }
  &__slider {
    position: relative;
    width: 960px;
    min-width: 500px;
    height: 700px;
    @media screen and(max-width:1300px) {
      width: 700px;
    }
    @media screen and (max-width: 815px) {
      width: 100%;
      height: 400px;
      min-width: auto;
    }
    @media screen and (max-width: 450px) {
      height: 250px;
    }
    &-wrapper {
      width: 100%;
      height: 100%;
      overflow: hidden;
      position: relative;
    }
    &-image {
      position: absolute;
      object-fit: cover;
      width: 100%;
      height: 100%;
      opacity: 1;
      transition: 1s all ease;
      &--hidden {
        opacity: 0;
      }
    }
  }

  &__info {
    margin-left: 55px;
    max-width: 510px;
    @media screen and(max-width:978px) {
      margin-left: 20px;
    }
    @media screen and (max-width: 815px) {
      margin: 0;
      padding: 0 20px;
    }
    &-text {
      margin-top: 50px;
      @media screen and (max-width: 978px) {
        margin-top: 20px;
      }
    }
    &-title {
      margin-top: 50px;
      font-family: $RRegular;
      @media screen and (max-width: 978px) {
        margin-top: 20px;
      }
    }
    &-attractions {
      margin-top: 50px;
      max-width: 278px;
      @media screen and (max-width: 978px) {
        margin-top: 20px;
      }
      &-item {
        margin-top: 2px;
      }
    }
    &-more {
      margin-top: 50px;
      @media screen and (max-width: 978px) {
        margin-top: 20px;
      }
    }
    &-about {
      margin-top: 50px;
      @media screen and (max-width: 978px) {
        margin-top: 20px;
      }
    }
  }
}

//our trip

.our-trip {
  padding-top: 150px;
  @media screen and(max-width:1010px) {
    padding-top: 50px;
  }
  &__title {
    max-width: 330px;
  }
  &__subtitle {
    max-width: 88px;
  }
  &__content {
    display: flex;
    justify-content: space-between;
    @media screen and(max-width:1010px) {
      flex-direction: column;
    }
  }
  &__info {
    margin-top: 108px;
    padding-left: 360px;
    padding-right: 5px;
    @media screen and(max-width:1640px) {
      padding-left: 100px;
    }
    @media screen and(max-width:1150px) {
      padding-left: 50px;
    }
    @media screen and(max-width:450px) {
      padding-left: 0;
    }
    &-title {
      font-family: $RRegular;
      font-size: 24px;
      line-height: 28px;
      @media screen and(max-width:768px) {
        font-size: 20px;
      }
      @media screen and(max-width:450px) {
        padding-left: 50px;
      }
    }
  }
  &__list {
    margin-top: 20px;
    margin-bottom: 20px;
    @media screen and(max-width:450px) {
      padding-left: 50px;
    }
    &-item {
      font-family: $RLight;
      font-size: 24px;
      line-height: 28px;
      @media screen and(max-width:768px) {
        font-size: 20px;
      }
    }
  }
  &__button {
    margin-top: 50px;
    @media screen and(max-width:450px) {
      margin-left: 50px;
    }
  }

  &__slider {
    position: relative;
    width: 960px;
    min-width: 500px;
    height: 1095px;
    margin-left: 20px;
    @media screen and(max-width:1300px) {
      width: 700px;
    }
    @media screen and(max-width:1150px) {
      margin-top: 40px;
    }
    @media screen and(max-width:1100px) {
      width: 600px;
    }
    @media screen and (max-width: 1010px) {
      width: 100%;
      height: 700px;
      min-width: auto;
      margin: 40px 0 0 0;
    }
    @media screen and (max-width: 650px) {
      height: 550px;
    }
    @media screen and (max-width: 440px) {
      height: 350px;
    }

    &-wrapper {
      position: relative;
      width: 100%;
      height: 100%;
      overflow: hidden;
    }
    &-img {
      position: absolute;
      object-fit: cover;
      width: 100%;
      height: 100%;
      opacity: 1;
      transition: 1s all ease;
      &--hidden {
        opacity: 0;
      }
    }
  }
}

//hotel

.hotel {
  padding-top: 100px;
  &__top {
  }
  &__title {
    max-width: 210px;
    @media screen and(max-width:620px) {
      margin: 0 auto;
    }
  }

  &__subtitle {
    max-width: 175px;
  }

  &__content {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    @media screen and(max-width:880px) {
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    @media screen and(max-width:620px) {
      margin-top: 30px;
    }
  }
  &__img {
    margin-right: 100px;
    @media screen and(max-width:1200px) {
      margin-right: 20px;
    }
    @media screen and(max-width:620px) {
      display: none;
    }
  }
  &__info {
  }
  &__text {
    max-width: 600px;
    margin-bottom: 20px;
    @media screen and(max-width:880px) {
      text-align: center;
      margin: 0 auto;
      margin-top: 20px;
    }
    @media screen and(max-width:400px) {
      padding: 0 20px;
    }
  }
  &__gallery {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    @media screen and(max-width:1120px) {
      flex-direction: column;
      align-items: center;
    }
    @media screen and(max-width:880px) {
      flex-direction: row;
      justify-content: center;
    }
    img {
      margin-top: 40px;
      max-width: 280px;
      @media screen and(max-width:1120px) {
        margin-top: 20px;
      }
      @media screen and(max-width:880px) {
        margin: 20px;
      }
    }
  }
}
